*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main-color: hsl(200, 50%, 10%);
    --bg-light-color: hsl(200, 50%, 25%);
    --bg-lighter-color: hsl(200, 50%, 30%);
    --bg-lightest-color: hsl(200, 50%, 35%);

    --bg-cell-color: hsl(200, 50%, 25%);
    --bg-cell-color-hover: hsl(200, 50%, 30%);
    --bg-cell-color-active: hsl(200, 50%, 35%);
    
    --bg-restart-button-color: hsl(200, 50%, 25%);
    --bg-restart-button-hover-color: hsl(200, 50%, 30%);
    --bg-restart-button-active-color: hsl(200, 50%, 35%);
    
    --bg-x-color: hsl(0, 100%, 40%);
    --bg-o-color: hsl(240, 100%, 40%);
    --bg-win-color: hsl(55, 100%, 40%);
    
    --text-color: hsl(0, 0%, 100%);
    --text-muted-color: hsl(0, 0%, 75%);
    --text-link-color: hsl(240, 100%, 73%);
    --text-x-color: hsl(0, 100%, 65%);
    --text-o-color: hsl(240, 100%, 65%);

    --font-family: "Poppins", "sans-serif";

    --font: normal 400 1rem/1em var(--font-family);
    --font-score: normal 700 2rem/1em var(--font-family); 
    --font-big: normal 700 clamp(3rem, 15vw, 4rem)/1em var(--font-family);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg-main-color);
    display: grid;
    place-items: center;
    font: var(--font);
    color: var(--text-color);
}

.root {
    text-align: center;
    position: relative;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}

.scoreboard p {
    background-color: var(--bg-light-color);
    height: 5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}

.scoreboard p span {
    margin-top: 0.5rem;
    display: block;
    font: var(--font-score);
}

.cells-container {
    display: grid;
    margin: 0 auto;
    width: min(21.5rem, 90vw);
    height: min(21.5rem, 90vw);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.cells-container.draw {
    opacity: 0.5;
}

.cell {
    aspect-ratio: 1 / 1;
    background-color: var(--bg-cell-color);
    border-radius: 8px;
    display: grid;
    place-items: center;
    font: var(--font-big);
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.cell:hover {
    background-color: var(--bg-cell-color-hover);
}

.cell:active {
    background-color: var(--bg-cell-color-active);
}

.cell.cell-x {
    background-color: var(--bg-x-color);
}

.cell.cell-o {
    background-color: var(--bg-o-color);
}

.cell.win {
    transition: background-color 0.4s;
    background-color: var(--bg-win-color) !important;
}

.panel {
    background-color: var(--bg-light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 8px;
}

.message {
    font-weight: 600;
    text-transform: capitalize;
}

.pop-message {
    animation: pop-fade 0.6s ease-out;
}

@keyframes pop-fade {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#restart-button {
    padding: 0.25rem;
    background-color: transparent;
    color: var(--text-color);
    font: var(--font);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#restart-button:hover {
    background-color: var(--bg-restart-button-hover-color);
}

#restart-button:active {
    background-color: var(--bg-restart-button-active-color);
}

footer {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    font: var(--font);
    text-align: center;
    color: var(--text-muted-color);
}

footer a {
    color: var(--text-link-color);
    text-decoration: underline;
}

footer a:hover {
    color: var(--text-color);
    text-decoration: underline;
}